th {
    padding-bottom: 5px;
}

td {
    padding: 0 5px 7px;
}

div.field,
div.actions {
    margin-bottom: 10px;
}

#notice {
    color: green;
}

.field_with_errors {
    padding: 2px;
    border-bottom: 1px solid red;
    display: table;
}

#error_explanation {
    color: red;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}

label {
    display: block;
}