body {
    transition: .5s;
    padding-top: 100px;
}


/*----------------Page-head-------------*/

.page-list {
    list-style-type: none;
}

.page-flex {
    display: flex;
    flex-wrap: wrap;
}

.fluid {
    width: 100%;
}

.navbar {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.3s;
}

.page-link {
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.category-link {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.page-link:hover {
    color: #ffa725;
}

.logo {
    flex: 18%;
}

.logo--responsive {
    display: none;
}

.logo-img {
    height: 100px;
    width: 150px;
}

.navbar-menu {
    display: flex;
    flex: 30%;
    justify-content: center;
}

.group-menu {
    display: flex;
    flex-wrap: nowrap;
}

.menu-link {
    font-size: 1.0vw;
    padding-right: 5vw;
}

.search-field {
    height: 30px;
    width: 235px;
}

.user-link {
    flex: auto;
}

.navbar-user {
    display: flex;
    flex: auto;
    font-size: 1.0vw;
}

.btn-toggle {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 0;
    font-size: 30px;
    width: 100%;
    margin-top: 15px;
}

.button--open {
    flex: 20%;
}

.text-blur {
    font-size: 20px;
    opacity: 0.5;
}

.sort-text {
    font-size: 20px;
    cursor: pointer;
}

.sort-text a {
    color: black;
    text-decoration: none;
}

.sort-text a:hover {
    transition: 0.3s;
    color: #ffa725;
}

.btn-search {
    cursor: pointer;
    width: 70px;
    height: 30px;
    border: 0;
    background-color: #ffa725;
    color: white;
}

button:focus,
input:focus,
select:focus {
    outline: none !important;
}

.btn-close {
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 25px;
}

.sidebar {
    position: absolute;
    left: 0;
    transition: 0.5s;
    top: 0;
    position: fixed;
    background-color: rgb(241, 239, 233);
    height: 100%;
    overflow-x: hidden;
    width: 0;
}

.sidebar-menu {
    padding: 15px;
}

.sidebar-category {
    color: gray;
    line-height: 5vw;
    display: block;
    padding-left: 32px;
}

.sidebar-contact {
    color: gray;
}

.sidebar-email {
    border: 1px solid #a0a0a0;
    height: 30px;
    width: 90%;
    padding: 5px;
}

.toggle-menu {
    display: none;
}


/*----------------Page-content-------------*/

.page-content {
    padding: 0.5vw;
}

.btn {
    cursor: pointer;
    background-color: #ffa725;
    color: white;
    border: 0;
    padding: 1vw;
    font-size: 1vw;
}

.btn:hover {
    opacity: 0.6;
}

.btn-category {
    color: black;
    width: 180px;
    flex: 30%;
    font-size: 18px;
    height: 50px;
    background-color: white;
    border: 1px solid #cccccc;
}

.btn-category:hover {
    opacity: 0.8;
    background-color: #ffb340;
}

.btn-category--active {
    background-color: #ffa725;
}

.btn-sidebar {
    margin-top: 20px;
    width: 97%;
    cursor: pointer;
    background-color: #ffa725;
    color: white;
    border: 0;
    padding: 1vw;
    font-size: 1vw;
}

.group-banner-content {
    background-image: asset-url('img/slider_1.jpg');
    height: 40vw;
    background-repeat: no-repeat;
    font-size: 1.5vw;
    justify-content: center;
    text-align: justify;
    align-items: center;
    background-size: contain;
}

.banner-content {
    padding: 5vw 0 0 5vw;
}

.sub-banner {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sub-banner-category {
    margin: 2.5vw;
    text-align: center;
}

.sub-banner-img {
    width: 100%;
}

.sub-banner-title {
    border-bottom: 8px solid #ffa725;
    padding: 10px;
}

.content-title {
    border-bottom: 8px solid #ffa725;
    text-align: center;
    width: 172px;
    margin: 0 auto;
}

.main-category {
    display: flex;
    flex: 30%;
    justify-content: center;
}

.product {
    padding-left: 85px;
}

.group-btn {
    align-items: center;
    justify-content: center;
}

.product-price {
    color: #ff9800;
    font-size: 22px;
    font-weight: bold;
}

.product-item {
    margin: 2.5vw;
    text-align: center;
    height: 370px;
}

.product-img {
    height: 235px;
    width: 235px;
}

.product-item:hover .product-add {
    display: block;
}

.product-item:hover {
    box-shadow: 3px 3px 3px 3px #aaaaaa;
}

.product-add {
    cursor: pointer;
    display: none;
    padding: 18px;
    width: 100%;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 15px;
    height: auto;
    background-color: #ff5621;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.number-items {
    font-size: 17px;
    background: #ff4646;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -8px;
}

.none-border {
    border: 0;
}

.blog-item {
    text-align: center;
    flex: 30%;
}

.blog {
    width: 65%;
    padding: 20px;
    margin: 0 auto;
}

.blog-btn {
    padding: 2vw;
    width: 100%;
    margin: 0 0px 4vw 25vw;
}

.btn--blog {
    position: absolute;
    left: 45.5%;
}

.product-detail-content {
    display: flex;
    margin: 0 auto;
    width: 50%;
    padding: 5vw;
}

.product-info {
    padding: 1vw 0 0 0;
}

.product-description {
    flex: 70%;
    padding: 0 0 2vw 2vw;
    align-items: center;
}

.product-group-img {
    flex: 30%;
    margin: 0 auto;
}

.product-group-size {
    padding: 0.5vw 2vw 0.5vw 0;
}

.product-group-img {
    flex: 30%;
}

.product-main-img {
    cursor: zoom-in;
    flex: 10%;
    height: 400px;
    width: 400px;
    background-color: rgb(243, 243, 243);
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -20%)
}

.product-main {
    height: 400px;
    width: 400px;
    overflow: hidden;
    position: relative;
}

.page-form {
    border: 1px solid #ffa725;
}

.product-input {
    padding: 0.2vw;
    margin-right: 2vw;
    font-size: 15px;
    width: 55px;
    height: 20px;
}

.btn--round {
    border-radius: 45%;
}

.product-size {
    height: 30px;
    background-color: white;
}

.product-thumbnail {
    flex: 30%;
}

.product-thumbnail-img {
    cursor: pointer;
    margin-top: 5%;
    width: 95%;
    height: 95%;
    margin-right: 3%;
    background-color: #e6e6e6;
}


/*----------------Page-footer-------------*/

.page-foo {
    background-color: #f2f2f2;
    padding-bottom: 40px;
    width: 100%;
    margin: 60px 0 0 0;
}

.menu-foo {
    width: 100%;
}

.foo-link {
    padding: 50px;
    font-size: 20px;
    font-weight: 600;
}

.foo-copyright {
    text-align: center;
    color: #656565;
}

.logo--foo {
    margin: 0 auto;
}

.social-group {
    display: flex;
    justify-content: center;
    color: black;
}

.social-icon {
    padding: 18px;
    color: black;
    font-size: 30px;
    text-decoration: none;
}

.menu-foo {
    justify-content: center;
}

.product-related {
    padding: 3vw;
    padding-left: 5vw;
}

.product-title {
    margin-left: 100px;
}

.product-related-img {
    width: 20vw;
    height: 20vw;
    background-color: #e8e8e8;
}

.group-img {
    flex: 25%;
}

.form-group {
    display: flex;
}

.form-sort {
    padding-right: 180px;
    margin-left: auto;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.select-box {
    width: 200px;
    height: 30px;
    border: 0;
}

.dropbtn {
    color: black;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 130px;
    min-height: 150px;
    padding-top: 5px;
    box-shadow: 0px 8px 16px 0px rgba(223, 222, 222, 0.801);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 15px 15px;
    text-decoration: none;
    display: block;
}

.product-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.product-category {
    font-size: 20px;
    color: rgb(139, 139, 139);
}

.filter-container {
    margin: 2.5vw;
}

.product-contain {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.dropdown-content a:hover {
    transition: 0.3s;
    color: #ffa725;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* will-paginate */

.digg_pagination {
    float: right;
    padding-right: 180px;
    background: white;
    cursor: default;
    /* self-clearing method: */
}

.digg_pagination a,
.digg_pagination span,
.digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
}

.digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd;
}

.digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #ffa725;
    ;
    color: white;
    border: 1px solid #ffa725;
    ;
}

.digg_pagination a {
    text-decoration: none;
    color: black;
    border: 1px solid #9aafe5;
}

.digg_pagination a:hover,
.digg_pagination a:focus {
    color: #000033;
    border-color: #000033;
}

.digg_pagination .page_info {
    background: #ffa725;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
}

.digg_pagination .page_info b {
    color: #000033;
    background: #ffa725;
    padding: 0.1em 0.25em;
}

.digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* html .digg_pagination {
    height: 1%;
}

*:first-child+html .digg_pagination {
    overflow: hidden;
}

.apple_pagination {
    background: #f1f1f1;
    border: 1px solid #e5e5e5;
    text-align: center;
    padding: 1em;
    cursor: default;
}

.apple_pagination a,
.apple_pagination span {
    padding: 0.2em 0.3em;
}

.apple_pagination .disabled {
    color: #aaaaaa;
}

.apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

.apple_pagination a {
    text-decoration: none;
    color: black;
}

.apple_pagination a:hover,
.apple_pagination a:focus {
    text-decoration: underline;
}

.flickr_pagination {
    text-align: center;
    padding: 0.3em;
    cursor: default;
}

.flickr_pagination a,
.flickr_pagination span,
.flickr_pagination em {
    padding: 0.2em 0.5em;
}

.flickr_pagination .disabled {
    color: #aaaaaa;
}

.flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084;
}

.flickr_pagination a {
    border: 1px solid #dddddd;
    color: black;
    text-decoration: none;
}

.flickr_pagination a:hover,
.flickr_pagination a:focus {
    border-color: #003366;
    background: #ffa725;
    color: white;
}

.flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
}

.flickr_pagination .previous_page,
.flickr_pagination .next_page {
    border-width: 2px;
}

.flickr_pagination .previous_page {
    margin-right: 1em;
}

.flickr_pagination .next_page {
    margin-left: 1em;
}


/* Responsive layout - makes a one column-layout instead of two-column layout */

@media (max-width:1500px) {
    .navbar-menu {
        position: absolute;
        height: 205%;
        width: 98%;
        background-color: rgb(241, 239, 233);
        display: none;
        flex-wrap: wrap;
    }
    .product-detail-content {
        display: flex;
        margin: 0 auto;
        width: 50%;
        padding: 30px;
        flex-wrap: wrap;
    }
    .btn {
        font-size: 3vw;
    }
    .navbar-user {
        position: absolute;
        width: 50%;
        flex-wrap: wrap;
        left: 0%;
        display: none;
        top: 20%;
    }
    .logo--responsive {
        display: block;
    }
    .toggle-menu {
        position: absolute;
        display: block;
        right: 2%;
    }
    .menu-link {
        font-size: 16px;
        padding-top: 60px;
        padding-right: 14vw;
        padding-left: 21vw;
        text-align: center;
        flex-wrap: nowrap;
        flex-flow: column;
    }
    .group-menu {
        display: flex;
        top: 10%;
        position: absolute;
        flex-wrap: wrap;
    }
}